@media screen and (max-width:87.5em) {
    body {
        min-height: 87.5rem;
    }

    main {
        height: 84.375rem;
    }

    .message {
        width: 75% !important;
    }
}

@media screen and (max-width:62em) {

    html {
        font-size: 90%;
    }

    main {
        height: 89rem;
    }

    .page-ctrl {
        flex-direction: column;
        gap: .625rem;
    }

    .items {
        height: 64.375rem;
    }

    .info {
        flex-direction: column;
        align-items: center;
    }

    .ingredients ul {

        grid-template-columns: 1fr;
        row-gap: 0;
        gap: .625rem;
        margin: 0;
        text-align: center;
    }
}

@media screen and (max-width:47.75em) {

    body {
        min-height: 100vh;
    }

    main {
        height: auto;
        margin-block: 2rem;
    } 

    header>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;

    }

    form {
        width: 85% !important;
    }



    .items {
        height: 62.5rem;
    }

    .page-ctrl {
        margin-bottom: 4rem;
    }

    .howToCook {
        margin: auto;
        padding-block: 2rem;
    }
}