@media screen and (max-width:87.5em) {
    body {
        min-height: 87.5rem;
    }

    main {
        height: 84.375rem;
    }

    .message {
        width: 75% !important;
    }
}

@media screen and (max-width:62em) {

    html {
        font-size: 90%;
    }

    main {
        min-height: 89rem;
    }





    .info {
        flex-direction: column;
        align-items: center;
    }

    .ingredients ul {

        grid-template-columns: 1fr;
        row-gap: 0;
        gap: .625rem;
        margin: 0;
        text-align: center;
    }

    .addRecipe {
        width: 90% !important;
    }
}

@media screen and (max-width:47.75em) {

    body {
        min-height: 100vh;
    }

    main {
        height: auto;
        margin-block: 2rem;
    }

    header>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;

    }

    header form {
        width: 85% !important;
    }

    .list {
        padding-bottom: 3rem !important;
    }


    .howToCook {
        margin: auto;
        padding-block: 2rem;
    }

    .bookmark-list {
        left: 50% !important;
        top: 100% !important;
        width: 80% !important;
        transform: translateX(-50%);
    }

    .addRecipe {
        position: sticky !important;
        width: 100% !important;
        overflow: auto;
        transform: translateY(-50%) !important;
    }

    .yourRecipe {
        flex-direction: column;
        gap: 3rem;
    }

    .yourRecipe .left,
    .yourRecipe .right {
        width: 100% !important;
    }

}