:root {
    --main-gradient: linear-gradient(to right bottom, #fbdb89, #f48982);
    --main-clr: #f38e82;
    --fnt-clr: #615551;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: var(--fnt-clr);
    min-height: 84.375rem;
}

i {
    color: var(--main-clr);
    font-size: 1.25rem;
}

li {
    list-style: none;
}

.bg-main {
    background-image: var(--main-gradient);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-sec {
    background-color: #f9f5f3;
}

.text-main {
    color: var(--main-clr);
}

main {
    height: 78.125rem;
    width: 95%;
    border-radius: .625rem;
}


.logo img {
    height: 3.125rem;
}

.items {
    overflow: hidden;
    height: 62.5rem;
    padding-block: 1.25rem;
}

form {

    background-color: #fff;
    padding-right: 0 !important;
    border-radius: 6.25rem;
    width: 50% !important;
}

input.search {
    width: 65%;
    border: 0;
    outline: none;
    display: inline-block;
    padding: .9375rem 1rem;
    border-radius: 6.25rem;

    font-size: 1.125rem;
    color: var(--fnt-clr);
}

input::-webkit-input-placeholder {
    opacity: 0.4;
}

input.search+button {
    width: 30%;
    color: white;
    border-radius: 6.25rem;
    transition: all 0.3s;
}

input.search+button:hover,
.howToCook button:hover {
    transform: scale(1.1, 1.05);
    color: white;
}



header .btns button {
    font-size: .875rem;
}

header .btns button i {
    font-size: 1.125rem !important;
}

header .btns button:hover {
    background-color: #8a898923;
}

.w-80 {
    width: 80%;
}

.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: center;
    padding-inline: 2.5rem;
    padding-block: 1.25rem;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    column-gap: .625rem;

}

.item img {
    justify-self: center;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    grid-row: 1/3;
}

.item h2 {
    display: inline-block !important;
    color: var(--main-clr);
    font-size: 1.125rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: flex-end;
    margin: 0;
}

.item p {
    justify-self: start;
    align-self: flex-end;
    grid-column: 2/3;
    font-size: .625rem;
    margin-bottom: .625rem;
}

.item:hover {
    background-color: #F9F5F3;

    transform: translateY(-0.25rem);
}

.page-ctrl button {
    width: auto;
    background-color: #F9F5F3;
    color: var(--main-clr);
    border-radius: 1.25rem;
    padding: .5rem 1.25rem;
    font-weight: 700;
    font-size: .875rem;
    border: 0;
    transition: all 0.3s;
}

.page-ctrl button:hover {
    background-color: #e0e0e092;
}

.recipe picture {
    display: inline-block;
    height: 25rem;
    width: 100%;
    background-image: linear-gradient(to right bottom, #fbdb8978, #f48982), url('../../../HTML +CSS/final project/omnifood/Images/meal-2.jpg');
    background-size: cover;
}

.recipe header {
    position: relative;

}

.recipe header h2 {
    text-align: center;
    width: auto;
    height: auto;
    transform: translate(-50%, -90%) skewY(-6deg) !important;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.7;
}

.left {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.right i {
    color: white;
    background-image: var(--main-gradient);
    border-radius: 50%;
    padding: .625rem .875rem;

}

.right .bookmark {
    transition: all 0.3s;
    cursor: pointer;
}

.right .bookmark:hover {
    transform: scale(1.05);
}

.info {
    background-color: #F9F5F3;
}

.plusMinus i {
    transition: all 0 .3s;
    cursor: pointer;
}

.ingredients {
    background-color: #F2EFEE;
}

.ingredients h2,
.howToCook h2 {
    text-transform: uppercase;
    color: var(--main-clr);
    font-size: 1.25rem;
    font-weight: 700;
}

.ingredients ul {
    margin-inline: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.25rem;
}

.howToCook button {
    color: white;
    border-radius: 6.25rem;
    transition: all 0.3s;
    padding: .8125rem 1.875rem;
}
.message
{
    font-size: 20px ;
}